<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>


<body class="body-main">
<header th:replace="fragments/commons::nav">
</header>
<main role="main">
    <div class="container register ">
        <div class="row">
            <div class="col-md-11 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Регистрирай клиент</h3>
                        <div class="row register-form">
                            <form th:action="@{users/register}" th:method="post" th:object="${userModel}">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Име на клиента*"
                                           id="fullName" th:field="*{fullName}" th:errorclass="is-invalid"/>
                                    <p class="invalid-feedback errors alert alert-danger">
                                       Името на клиента е задължително и трябва да е поне 2 символа.
                                    </p>
                                </div>
                                <div class="form-group">
                                            <textarea type="text" class="form-control" rows="2" cols="33" id="address"
                                                      placeholder="Адрес на клиента*" style="resize: none;" th:field="*{address}"></textarea>

                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Имейл адрес*" th:field="*{email}" th:errorclass="is-invalid"/>
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Имейла е задължителен и трябва да е поне 9 символа.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="maxl" th:field="*{gender}">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Мъж </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span> Жена </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm 7'>
                                        <div class="form-group" th:field="*{registerDate}">
                                            <p>Днешна дата: <span id="date"></span></p>
                                            <script>
                                                var today = new Date();
                                                var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
                                                document.getElementById("date").innerHTML = date;
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Потребителско име*" th:field="*{username}" th:errorclass="invalid-feedback"/>
                                    <p class="invalid-feedback errors alert alert-danger">
                                       Потребителското име е задължително и трябва да е поне 2 символа.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Парола*" th:field="*{password}" th:errorclass="invalid-feedback"/>
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Паролата трябва да е поне 5 символа.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Повтори парола*" th:field="*{confirmPassword}" th:errorclass="invalid-feedback"/>
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Паролите трябва да съвпадат!
                                    </p>
                                </div>
                                <div>
                                    <button type="submit"
                                            class="btn btn-secondary btn-lg">Регистрирай
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<div th:replace="fragments/commons::footer" class="footer" id="footer">
</div>
</body>

</html>